In [1]:
# most commonly used in CNN and widely used in deep learning

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [9]:
df = pd.read_csv('titanic.csv', usecols=['Pclass', 'Age', 'Fare', 'Survived'])
df.head()

   Survived  Pclass   Age     Fare
0         0       3  22.0   7.2500
1         1       1  38.0  71.2833
2         1       3  26.0   7.9250
3         1       1  35.0  53.1000
4         0       3  35.0   8.0500

In [3]:
from sklearn.preprocessing import MinMaxScaler

In [6]:
min_max = MinMaxScaler()
# juset converting the scaled data into dataframe altogether 
df_minmax = pd.DataFrame(min_max.fit_transform(df), columns=df.columns)

In [8]:
df_minmax.head()

   Survived  Pclass       Age      Fare
0       0.0     1.0  0.271174  0.014151
1       1.0     0.0  0.472229  0.139136
2       1.0     1.0  0.321438  0.015469
3       1.0     0.0  0.434531  0.103644
4       0.0     1.0  0.434531  0.015713